@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
    /* max-width: 1550px; */
   

}
:root {
  --bgOrange: #e84949;
}


body, html{
  overflow-x: hidden;

  /* margin: 0 auto; */
}